<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="IWcfTimelineService"
        address="http://www.timeline.com/Services/TimelineService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
        contract="DAF.Timeline.WcfProviders.IWcfTimelineService" />
      <!--<endpoint name="IWcfTimelineService"
        address="http://www.timeline.com/Services/TimelineService.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpBinding"
        contract="DAF.Timeline.WcfProviders.IWcfTimelineService" />-->
      <!--<endpoint name="IWcfTimelineService"
        address="net.pipe://www.timeline.com:809/Services/TimelineService.svc"
        binding="netTcpBinding" bindingConfiguration="netTcpBinding"
        contract="DAF.Timeline.WcfProviders.IWcfTimelineService" />-->
      <!--<endpoint name="IWcfTimelineService"
        address="net.tcp://www.timeline.com:808/Services/TimelineService.svc"
        binding="netTcpBinding" bindingConfiguration="netTcpBinding"
        contract="DAF.Timeline.WcfProviders.IWcfTimelineService" />-->
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--<wsHttpBinding>
        <binding name="wsHttpBinding">
          <security mode="None" />
        </binding>
      </wsHttpBinding>-->
      <!--<netNamedPipeBinding>
        <binding name="netNamedPipeBinding">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>-->
      <!--<netTcpBinding>
        <binding name="netTcpBinding">
          <security mode="None"/>
        </binding>
      </netTcpBinding>-->
    </bindings>
  </system.serviceModel>
</configuration>