@using DAF.Web;
@{
}
@RenderPage("~/Account/_AccountInfo.cshtml")
<div id="admin-menu"  class="navbar navbar-primary">
    <div class="navbar-inner">
        <div class="container">
            @Menu.Render(MenuHelper.GetMenuItems("admin"))
            <ul class="nav pull-right">
                <li><a href="/">首页</a></li>
            </ul>
        </div>
    </div>
</div>
