@using DAF.Core;
@using DAF.SSO;
@using DAF.Web;
@using DAF.Core.Collections;
@using DAF.Core.Security;

@helper Render(IEnumerable<dynamic> roots, Func<dynamic, IEnumerable<dynamic>> getChildren, Func<dynamic, object> itemTemplate, int depth = 99, Func<dynamic, string> getPermissionUri = null, int currentDepth = 0)
{
    int total = roots == null ? 0 : roots.Count();
    if (total > 0 && currentDepth < depth)
    {
    <ul>
    @foreach (var item in roots)
    {
        bool allowed = true;
        if(getPermissionUri != null)
        {
            string permissionUrl = getPermissionUri(item);
            allowed = AuthHelper.CurrentSession.CanAccess(AuthHelper.CurrentClient.ClientId, permissionUrl, PermissionType.Operation);
        }
        <li>
            @itemTemplate(item)
            @Render(getChildren(item), getChildren, itemTemplate, depth, getPermissionUri, currentDepth + 1)
        </li>
    }
    </ul>       
    }
}