@*<Parameters>
[ { Name:'parent', DefaultValue:'cmd(qs name:cate)', Description:'栏目编码，一般取自query string，可输入：cmd(qs name:parent)。如果为空，则表示取第一层' }
    , { Name:'depth', DefaultValue:'99', Description:'获取栏目的层数' }
]
/Parameters>*@
@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@{
    var id = CmsHelper.Random("cate");
    Dictionary<string, string> paras = CmsHelper.GetControlParas(Page.Paras);
    int depth = paras["depth"].ConvertTo<int>(2);
    var cates = CmsHelper.GetSubCategories(paras["parent"], depth);
}
<div id="@id">
    @Tree.Render(cates, o => o.Children, o => o.CategoryId, null, @<a href="/@item.Code">@item.Name</a>, depth);
</div>
