@using DAF.Core;
@{
    Layout = "~/_Html.cshtml";
}
<div class="main">
    <div class="ui-corner-all ui-widget">
        <hgroup class="title">
            <h1>@(DAF.SSO.Resources.Locale(o => o.ChangePassword))</h1>
            <h2>@(DAF.SSO.Resources.Locale(o => o.ChangePasswordSuccessfully))</h2>
        </hgroup>
    </div>
</div>
