@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@using DAF.CMS.Models;
@{
    Content obj = Page.Data as Content;
    if(obj == null) {
        string contentIdOrShortUrl = Page.ContentId.DefaultIfNull(Request.Path);
        obj = CmsHelper.GetContent(contentIdOrShortUrl);
    }
}
<article>
    <h3>@obj.Title</h3>
    <section class=""></section>
    <section class="cms-content">@Html.Raw(obj.HtmlBody)</section>
</article>
