@*<Parameters>
[ 
    { Name:'cate', DefaultValue:'{cmd=qs name:cate1}', Description:'栏目编码，一般取自query string，可输入：{cmd=qs name:cate1}。' }
    ,{ Name:'includeSubCategories', DefaultValue:'false', Description:'是否包括子栏目的文章。' }
    ,{ Name:'pi', DefaultValue:'0', Description:'当前页码，一般取自query string，可输入：{cmd=qs name:pi}。' }
    ,{ Name:'ps', DefaultValue:'50', Description:'每页页数。' }
]
/Parameters>*@
@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@using DAF.CMS.Models;
@{
    Dictionary<string, string> paras = CmsHelper.GetControlParas(Page.Paras);
    string cateId = CommandHelper.AnalysisCommands(paras["cate"], Context);
    bool includeSubCategories = paras["includeSubCategories"].ConvertTo<bool>(false);
    string pi = CommandHelper.AnalysisCommands(paras["pi"], Context).DefaultIfNull("0");
    var cate = CmsHelper.GetCategory(cateId);
    int total = 0;
    IEnumerable<Content> objs = CmsHelper.GetContents(cateId, out total, includeSubCategories, Convert.ToInt32(pi), Convert.ToInt32(paras["ps"]));
}
<div id="contents_@(cate.Code)" class="content-list">
    <h3>@cate.Name</h3>
    <table class="table table-bordered spanfull">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in objs)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        <ul>
            <li></li>
        </ul>
    </div>
</div>
