<?xml version="1.0"?>
<autofac>
  <components>
  </components>
  <modules>
    <module type="DAF.Web.WebModule, DAF.Web"/>
    <module type="DAF.Core.Serialization.JsonNet.JsonNetModule, DAF.Core.Serialization.JsonNet"/>
    <!--<module type="DAF.Core.Data.EF.EFModule, DAF.Core.Data.EF"/>-->
    <module type="DAF.Core.Data.BLToolkit.BLToolkitModule, DAF.Core.Data.BLToolkit"/>
    <module type="DAF.Web.Api.WebApiModule, DAF.Web.Api"/>
    <module type="DAF.SSO.WcfProvider.SSOClientModule, DAF.SSO.WcfProvider"/>
  </modules>
</autofac>


