@using DAF.Core;
@using DAF.Web;
@using DAF.CMS.Models;
@{
    Layout = "_EditBase.cshtml";
    Page.ContentType = (int)ContentType.Image;
    var pageModel = this.PageModel<Content>();
    Page.PageModel = pageModel;
}
<tr>
    <td>图片</td>
    <td>
        <div class="panel ui-corner-all lgap0 pull-left">
            <div class="bg-none text-center">
                <img class="img-none rect-small ui-corner-all" data-bind="attr:{src: ContentUrl }" />
            </div>
            <a data-bind="attr:{href:ContentUrl}" target="_blank"><span data-bind="text:Description"></span></a>
            <button type="button" class="btn btn-mini btn-danger" onclick="RemoveImage();" title="删除图片">
                <i class="icon-remove"></i>
            </button>
        </div>
        <div id="imageContenHolder"></div>
    </td>
</tr>
<tr>
    <td>链接</td>
    <td><input type="text" id="LinkUrl" name="LinkUrl" data-bind="value: LinkUrl" class="spanfull" /></td>
</tr>
@section bodyEnd {
    <script type="text/javascript">
        $(document).on('bindedData', function (event, bindedData) {
            LoadHtml('#imageContenHolder', '@Html.Raw(UrlHelper.ClientUrl("File/InlineUpload", "DAF.File.Site") + "?owner=cms&property=content.image&fileType=images")');
        });

        function RemoveImage() {
            var img = vm.Data();
            img.Description('');
            img.ContentUrl('');
        }

        $(function () {
            OnReceiveMessage('fileselected', function (data) {
                if (data.owner == "cms" && data.property == "content.image") {
                    var file = data.file || (data.files && data.files.length > 0 ? data.files[0] : null);
                    if (file) {
                        vm.Data().Description(file.name);
                        vm.Data().ContentUrl(file.url);
                    };
                }
            });

            OnReceiveMessage('fileuploaded', function (data) {
                if (data.owner == "cms" && data.property == "content.image") {
                    var file = data.file || (data.files && data.files.length > 0 ? data.files[0] : null);
                    if (file) {
                        vm.Data().Description(file.name);
                        vm.Data().ContentUrl(file.url);
                    };
                }
            });

            OnReceiveMessage('fileremoved', function (data) {
                if (data.owner == "cms" && data.property == "content.image") {
                    vm.Data().Description("");
                    vm.Data().ContentUrl(null);
                }
            });
        });
    </script>
}
