@using DAF.Core;
@using DAF.Web;
@using DAF.CMS.Models;
@{
    Layout = "_EditBase.cshtml";
    Page.ContentType = (int)ContentType.Org;
    var pageModel = this.PageModel<Content>();
    Page.PageModel = pageModel;
}
<tr>
    <td>机构名称</td>
    <td>@pageModel.TextBoxFor(o => o.PlainBody, new { @class = "span8", @data_bind = "value:PlainBody" })</td>
</tr>
