@using DAF.Core;
@using DAF.Web;
@using DAF.CMS.Models;
@{
    Layout = "_EditBase.cshtml";
    Page.ContentType = (int)ContentType.Text;
    var pageModel = this.PageModel<Content>();
    Page.PageModel = pageModel;
}
<tr>
    <td>@pageModel.CaptionFor(o => o.PlainBody)</td>
    <td>@pageModel.TextAreaFor(o => o.PlainBody, new { @class = "span8", @data_bind = "value:PlainBody", rows = "5", cols = "80" })</td>
</tr>
