@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@{
}

@RenderPage("_Banner.cshtml")

<div id="main-menu"  class="navbar navbar-primary">
    <div class="navbar-inner">
        <div class="container">
            @Menu.Render(CmsHelper.GetMenu("main", null))
            <ul class="nav pull-right">
                <li><a href="/Admin">系统管理</a></li>
            </ul>
        </div>
    </div>
</div>
