@*<Parameters>
[ 
    { Name:'cate', DefaultValue:'{cmd=qs name:cate1}', Description:'栏目编码，一般取自query string，可输入：{cmd=qs name:cate1}。' }
    ,{ Name:'includeSubCategories', DefaultValue:'false', Description:'是否包括子栏目的文章。' }
    ,{ Name:'moreUrl', DefaultValue:'', Description:'更多链接地址，可包含命令，一般取自query string，可输入：/cate-list?cate1={cmd=qs name:cate1}。' }
    ,{ Name:'count', DefaultValue:'20', Description:'记录数。' }
]
/Parameters>*@
@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@using DAF.CMS.Models;
@{
    Dictionary<string, string> paras = CmsHelper.GetControlParas(Page.Paras);
    string cateId = CommandHelper.AnalysisCommands(paras["cate"], Context);
    bool includeSubCategories = paras["includeSubCategories"].ConvertTo<bool>(false);
    var cate = CmsHelper.GetCategory(cateId);
    int total = 0;
    IEnumerable<Content> objs = CmsHelper.GetContents(cateId, out total, includeSubCategories, 0, Convert.ToInt32(paras["count"]));
    string moreUrl = CommandHelper.AnalysisCommands(paras["moreUrl"], Context);
}
<div id="contents_@(cate.Code)" class="content-top-list">
    <header>
        <h3>@cate.Name</h3>
        <a href="@moreUrl">更多...</a>
    </header>
    <table class="table table-bordered spanfull">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in objs)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
