.page-header .banner .box_skitter {
    width: 1170px;
    background: transparent;
}

    .page-header .banner .box_skitter .container_skitter {
    }

.page-header > h1 {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 80px;
    color: white;
}

.page-header > ul.nav {
    position: absolute;
    z-index: 101;
    top: 10px;
    right: 40px;
}
