@using DAF.Web;
@{
}

<div id="footer-menu"  class="navbar navbar-primary">
    <div class="navbar-inner">
        <div class="container">
            @Menu.Render(MenuHelper.GetMenuItems("footer"))
        </div>
    </div>
</div>

