@*<Parameters>
[ { Name:'siteName', DefaultValue:'siteName', Description:'站点名称，取自“站点设置”' }
    , { Name:'siteLogo', DefaultValue:'siteLogo', Description:'站点图标，取自“站点设置”，值应为图片链接地址' }
]
/Parameters>*@
@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@{
    Dictionary<string, string> paras = CmsHelper.GetControlParas(Page.Paras);
    var siteName = CmsHelper.GetAppSettingValue(paras["siteName"]);
    var siteLogo = CmsHelper.GetAppSettingValue(paras["siteLogo"]); 
}
<h1>
    @if (!string.IsNullOrEmpty(siteLogo))
    {
        <img src="@siteLogo" alt="@siteName" />
    }
    <span>@siteName</span>
</h1>
