@using DAF.Core;
@using DAF.Web.Menu;
@using DAF.Core.Serialization;
@{
}

<div id="footer-menu"  class="navbar navbar-primary">
    <div class="navbar-inner">
        <div class="container">
        </div>
    </div>
</div>