@*<Parameters>
[{ Name: 'menu', DefaultValue: '', Description: '请输入菜单名称，该菜单数据取自“菜单管理”中的菜单名称。' }]
/Parameters>*@
@using DAF.Core;
@using DAF.Web;
@using DAF.CMS;
@{
    Dictionary<string, string> paras = CmsHelper.GetControlParas(Page.Paras);
    var menu = paras["menu"];
}
<div class="navbar navbar-primary">
    <div class="navbar-inner">
        <div class="container">
            @Menu.Render(CmsHelper.GetMenuItems(menu))
        </div>
    </div>
</div>
