<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="SSODB" connectionString="Data Source=.\sql2012;Initial Catalog=DAF_SSO;User ID=sa;Password=kooboo;Max Pool Size=200;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>