<?xml version="1.0"?>
<ioc>
  <components>
    <component type="DAF.Core.Search.Lucene.SearchProvider, DAF.Core.Search.Lucene"
          service="DAF.Core.Search.ISearchProvider, DAF.Core"
          scope="singleton">
      <parameters>
        <parameter name="directory" value="e:\sqldb"></parameter>
      </parameters>
    </component>
    <component type="DAF.Core.Search.Lucene.LuceneBatchIndexWriter, DAF.Core.Search.Lucene"
          service="DAF.Core.Search.Lucene.IBatchIndexWriter, DAF.Core.Search.Lucene"
          scope="singleton">
    </component>

    <!-- batch loader objects -->
    <component type="DAF.Core.Search.Lucene.SqlLuceneLoader, DAF.Core.Search.Lucene"
          service="DAF.Core.Search.Lucene.ILuceneLoader, DAF.Core.Search.Lucene">
      <parameters>
        <parameter name="connStringName" value="SSODB"></parameter>
        <parameter name="objTypeName" value="User"></parameter>
        <parameter name="querySql" value="select UserId, Account, NickName, FullName, Locale from dbo.sso_User"></parameter>
      </parameters>
    </component>
    <!-- batch loader objects -->

    <!-- monitor objects -->
    <component type="DAF.Core.DataMonitor.SqlServer.SqlDbMonitor, DAF.Core.DataMonitor.SqlServer"
          service="DAF.Core.DataMonitor.IDataMonitor, DAF.Core">
      <parameters>
        <parameter name="connStringName" value="SSODB"></parameter>
        <parameter name="tableName" value="sso_User"></parameter>
        <parameter name="columnNames" value="UserId, Account, NickName, FullName"></parameter>
      </parameters>
    </component>
    <component type="SqlDataLuceneChange.UserChangeHandler, SqlDataLuceneChange"
          service="DAF.Core.DataMonitor.IDataChangeHandler, DAF.Core">
      <parameters>
        <parameter name="connStringName" value="SSODB"></parameter>
      </parameters>
    </component>
    <!-- monitor objects -->

  </components>
  <modules>
    <module type="DAF.Core.Serialization.JsonNet.JsonNetModule, DAF.Core.Serialization.JsonNet"/>
    <module type="DAF.Core.Data.BLToolkit.BLToolkitModule, DAF.Core.Data.BLToolkit"/>
    <module type="DAF.Core.Search.RepositorySearchModule, DAF.Core"/>
  </modules>
</ioc>


