@*<Parameters>
/Parameters>*@
@using DAF.Core;
@using DAF.Web;
@using DAF.SSO;
@using DAF.CMS;
@{
}
<div class="spanfull">
    <h1 class="logo pull-left">
        <a href="#">@(CmsHelper.GetAppSettingValue("SiteName"))</a>
    </h1>
    <ul class="nav nav-pills pull-left">
        @if (AuthHelper.IsAuthenticated)
        {
            <li><a>我</a></li>
            @*if (AccountHelper.CurrentUser is Student)
            {
            <li><a>我</a></li> 
            <li><a>直播间</a></li> 
            <li><a>张贴栏</a></li> 
            <li><a>时间轴</a></li> 
            <li><a>老师们</a></li> 
            <li><a>朋友们</a></li> 
            <li><a>档案室</a></li> 
            }
            else if (AccountHelper.CurrentUser is Teacher)
            {
            <li><a>我</a></li> 
            <li><a>直播间</a></li> 
            <li><a>张贴栏</a></li> 
            <li><a>时间轴</a></li> 
            <li><a>学生们</a></li> 
            <li><a>朋友们</a></li> 
            <li><a>档案室</a></li> 
            }
            else
            {
            <li><a>直播间</a></li> 
            <li><a>张贴栏</a></li> 
            <li><a>朋友们</a></li> 
            <li><a>时间轴</a></li> 
            <li><a>档案室</a></li> 
            }*@
        }
        else
        {
            <li><a>直播间</a></li> 
            <li><a>张贴栏</a></li> 
            <li><a>闲逛</a></li> 
        }
    </ul>
    <ul class="nav nav-pills pull-right">
        @if (AuthHelper.IsAuthenticated)
        {
            <li><a>欢迎 @AuthHelper.CurrentSession.User.Name()</a></li> 
            <li><a href="/Account/Setting">设置</a></li> 
            <li><a href="/Account/SignOff">退出</a></li> 
        }
        else
        {
            <li><a href="/Account/SignOn">登录</a></li> 
            <li><a href="/Account/Register">注册</a></li> 
        }
    </ul>
</div>
