<?xml version="1.0"?>
<ioc>
  <components>
    <component
          type="DAF.Web.Security.ProtectedDirAssetChecker, DAF.Web"
          service="DAF.Web.Security.IProtectedAssetChecker, DAF.Web"
          scope="singleton">
      <parameters>
        <parameter  name="dirs" value="/protected"/>
      </parameters>
    </component>
    <component
          type="DAF.Web.Security.DomainAssetProtectionFilter, DAF.Web"
          service="DAF.Web.Security.IAssetProtectionFilter, DAF.Web"
          scope="singleton">
      <parameters>
        <parameter  name="allowDomains" value=""/>
        <parameter  name="forbiddenDomains" value="" />
      </parameters>
    </component>
  </components>
  <modules>
    <module type="DAF.Web.WebModule, DAF.Web"/>
  </modules>
</ioc>


