<?xml version="1.0"?>
<connectionStrings>
  <add name="SSODB" connectionString="Data Source=.\sql2008;Initial Catalog=DAF_SSO;User ID=sa;Password=imccs;Max Pool Size=200;" providerName="System.Data.SqlClient" />
  <!--<add name="mongodb" connectionString="mongodb://sa:imccs@localhost:27017" providerName="System.Data.SqlClient" />-->
</connectionStrings>
