<?xml version="1.0"?>
<ioc>
  <components>
    <component type="DAF.Core.Search.Lucene.SearchProvider, DAF.Core.Search.Lucene"
          service="DAF.Core.Search.ISearchProvider, DAF.Core"
          scope="singleton">
      <parameters>
        <parameter name="directory" value="d:\lucene"></parameter>
      </parameters>
    </component>
  </components>
  <modules>
    <module type="DAF.Web.WebModule, DAF.Web"/>
    <module type="DAF.Core.Serialization.JsonNet.JsonNetModule, DAF.Core.Serialization.JsonNet"/>
    <module type="DAF.Core.Search.RepositorySearchModule, DAF.Core"/>
    <!--<module type="DAF.Core.Data.EF.EFModule, DAF.Core.Data.EF"/>-->
    <module type="DAF.Core.Data.BLToolkit.BLToolkitModule, DAF.Core.Data.BLToolkit"/>
    <!--<module type="DAF.Core.Data.MongoDb.MongoDbModule, DAF.Core.Data.MongoDb"/>-->
    <module type="DAF.Core.ServiceBus.NBusModule, DAF.Core.ServiceBus"/>
    <module type="DAF.Web.Api.WebApiModule, DAF.Web.Api"/>
    <module type="DAF.SSO.LocalProvider.SSOLocalModule, DAF.SSO.LocalProvider"/>
    <module type="DAF.Core.Template.RazorTemplates.TemplateModule, DAF.Core.Template.RazorTemplates"/>
  </modules>
</ioc>


