<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <autofac>
    <components>
      <component
            type="DAF.Web.Security.ProtectedDirAssetChecker, DAF.Web"
            service="DAF.Web.Security.IProtectedAssetChecker, DAF.Web"
            instance-scope="single-instance">
        <parameters>
          <parameter  name="dirs" value="/protected"/>
        </parameters>
      </component>
      <component
            type="DAF.Web.Security.DomainAssetProtectionFilter, DAF.Web"
            service="DAF.Web.Security.IAssetProtectionFilter, DAF.Web"
            instance-scope="single-instance">
        <parameters>
          <parameter  name="allowDomains" value=""/>
          <parameter  name="forbiddenDomains" value="" />
        </parameters>
      </component>
    </components>
    <modules>
      <module type="DAF.Web.WebModule, DAF.Web"/>
    </modules>
  </autofac>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<httpModules>
      <remove name="AssetProtection"/>
      <add name="AssetProtection" type="DAF.Web.AssetProtectionHttpModule, DAF.Web" />
    </httpModules>-->
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".xpi"/>
      <remove fileExtension=".mp3"/>
      <remove fileExtension=".m4a"/>
      <remove fileExtension=".ogg"/>
      <remove fileExtension=".oga"/>
      <remove fileExtension=".webma"/>
      <remove fileExtension=".wav"/>
      <remove fileExtension=".mp4"/>
      <remove fileExtension=".m4v"/>
      <remove fileExtension=".ogv"/>
      <remove fileExtension=".webm"/>
      <remove fileExtension=".webmv"/>
      
      <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <mimeMap fileExtension=".m4a" mimeType="audio/mp4" />
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <mimeMap fileExtension=".webma" mimeType="audio/webm" />
      <mimeMap fileExtension=".wav" mimeType="audio/wav" />

      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/mp4" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".webmv" mimeType="video/webm" />
    </staticContent>
    <modules>
      <remove name="AssetProtection"/>
      <add name="AssetProtection" type="DAF.Web.AssetProtectionHttpModule, DAF.Web" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Content-Range,Content-Disposition,Content-Description,X-File-Name,X-File-Type,X-File-Size" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS, HEAD" />
        <add name="Allow" value="GET, POST, PUT, DELETE, OPTIONS, HEAD" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>
